$color-front-default: #00354E;
$color-front-opposite: #FBFBFB;
$color-front-support: #707176;

$color-palette-1: #00354E;
$color-palette-12: #052E66;
$color-palette-13: #062330;
$color-palette-2: #9F925E;
$color-palette-21: #B5AD62;
$color-palette-3: #51748B;
$color-palette-4: #A6BCC4;
$color-palette-5: #1F201F;
$color-palette-6: #707176;

$font-color: #fbfbfb;
$color-title: #51748B
