@charset "UTF-8";

@font-face {
  font-family: "rodrigobrito";
  src:url("fonts/rodrigobrito.eot");
  src:url("fonts/rodrigobrito.eot?#iefix") format("embedded-opentype"),
    url("fonts/rodrigobrito.woff") format("woff"),
    url("fonts/rodrigobrito.ttf") format("truetype"),
    url("fonts/rodrigobrito.svg#rodrigobrito") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "rodrigobrito" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "rodrigobrito" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee:before {
  content: "\61";
}
.icon-facebook:before {
  content: "\62";
}
.icon-twitter:before {
  content: "\63";
}
.icon-instagram:before {
  content: "\64";
}
.icon-bug:before {
  content: "\65";
}
.icon-youtube:before {
  content: "\66";
}
.icon-phone:before {
  content: "\67";
}
.icon-envelope:before {
  content: "\68";
}
.icon-cogs:before {
  content: "\69";
}
.icon-paper-plane:before {
  content: "\6b";
}
.icon-search:before {
  content: "\6c";
}
.icon-map-marker:before {
  content: "\62";
}
.icon-map-marker:before {
  content: "\6d";
}
.icon-times:before {
  content: "\6e";
}
.icon-check-square-o:before {
  content: "\6f";
}
.icon-sign-out:before {
  content: "\71";
}
.icon-exchange:before {
  content: "\72";
}
.icon-exclamation-circle:before {
  content: "\73";
}
.icon-clock-o:before {
  content: "\74";
}
.icon-heartbeat:before {
  content: "\75";
}
.icon-heart-o:before {
  content: "\76";
}
.icon-heart:before {
  content: "\77";
}
.icon-user:before {
  content: "\78";
}
.icon-money:before {
  content: "\79";
}
.icon-list:before {
  content: "\7a";
}
.icon-credit-card:before {
  content: "\41";
}
.icon-check:before {
  content: "\42";
}
.icon-chain-broken:before {
  content: "\43";
}
.icon-check-circle:before {
  content: "\44";
}
.icon-check-circle-o:before {
  content: "\45";
}
.icon-check-square:before {
  content: "\46";
}
.icon-chevron-circle-down:before {
  content: "\47";
}
.icon-chevron-circle-left:before {
  content: "\48";
}
.icon-chevron-circle-right:before {
  content: "\49";
}
.icon-chevron-circle-up:before {
  content: "\4a";
}
.icon-chevron-down:before {
  content: "\4b";
}
.icon-chevron-left:before {
  content: "\4c";
}
.icon-chevron-right:before {
  content: "\4d";
}
.icon-chevron-up:before {
  content: "\4e";
}
.icon-comment:before {
  content: "\4f";
}
.icon-child:before {
  content: "\50";
}
.icon-th-list:before {
  content: "\51";
}
.icon-link:before {
  content: "\52";
}
.icon-list-alt:before {
  content: "\53";
}
.icon-list-ul:before {
  content: "\54";
}
.icon-shopping-cart:before {
  content: "\55";
}
.icon-bar-chart:before {
  content: "\56";
}
.icon-ban:before {
  content: "\57";
}
.icon-undo:before {
  content: "\58";
}
.icon-suitcase:before {
  content: "\59";
}
.icon-briefcase:before {
  content: "\5a";
}
.icon-angle-double-left:before {
  content: "\30";
}
.icon-angle-left:before {
  content: "\31";
}
.icon-arrow-circle-left:before {
  content: "\32";
}
.icon-arrow-circle-o-left:before {
  content: "\33";
}
.icon-arrow-left:before {
  content: "\34";
}
.icon-graduation-cap:before {
  content: "\35";
}
.icon-star-o:before {
  content: "\36";
}
.icon-star:before {
  content: "\37";
}
.icon-life-ring:before {
  content: "\38";
}
.icon-anchor:before {
  content: "\39";
}
.icon-thumbs-o-up:before {
  content: "\21";
}
.icon-thumbs-up:before {
  content: "\22";
}
.icon-line-chart:before {
  content: "\23";
}
.icon-ticket:before {
  content: "\24";
}
.icon-unlock:before {
  content: "\25";
}
.icon-unlock-alt:before {
  content: "\26";
}
.icon-file:before {
  content: "\27";
}
.icon-file-o:before {
  content: "\28";
}
.icon-file-text:before {
  content: "\29";
}
.icon-file-text-o:before {
  content: "\2a";
}
.icon-key:before {
  content: "\2b";
}
.icon-paper-plane-o:before {
  content: "\2c";
}
.icon-paperclip:before {
  content: "\2d";
}
.icon-plus:before {
  content: "\2e";
}
.icon-minus:before {
  content: "\2f";
}
.icon-map:before {
  content: "\3a";
}
.icon-map-o:before {
  content: "\3b";
}
.icon-male:before {
  content: "\3c";
}
.icon-home:before {
  content: "\3d";
}
.icon-location-arrow:before {
  content: "\3e";
}
.icon-reply:before {
  content: "\3f";
}
.icon-reply-all:before {
  content: "\40";
}
.icon-share:before {
  content: "\5b";
}
.icon-envelope-o:before {
  content: "\5d";
}
.icon-bell:before {
  content: "\5e";
}
.icon-bell-o:before {
  content: "\5f";
}
.icon-arrows-alt:before {
  content: "\60";
}
.icon-filter:before {
  content: "\7b";
}
.icon-folder:before {
  content: "\7c";
}
.icon-folder-o:before {
  content: "\7d";
}
.icon-folder-open:before {
  content: "\7e";
}
.icon-folder-open-o:before {
  content: "\5c";
}
.icon-leanpub:before {
  content: "\e000";
}
.icon-user-plus:before {
  content: "\e001";
}
.icon-users:before {
  content: "\e002";
}
.icon-calendar:before {
  content: "\e003";
}
.icon-calendar-check-o:before {
  content: "\e004";
}
.icon-calendar-minus-o:before {
  content: "\e005";
}
.icon-camera-retro:before {
  content: "\e006";
}
.icon-camera:before {
  content: "\e007";
}
.icon-cog:before {
  content: "\e009";
}
.icon-bell-slash:before {
  content: "\e00a";
}
.icon-bell-slash-o:before {
  content: "\e00b";
}
.icon-trophy:before {
  content: "\e00c";
}
.icon-star-half-o:before {
  content: "\e00d";
}
.icon-print:before {
  content: "\e00e";
}
.icon-pencil-square-o:before {
  content: "\e00f";
}
.icon-gift:before {
  content: "\e010";
}
.icon-flask:before {
  content: "\e011";
}
.icon-flag:before {
  content: "\e012";
}
.icon-comments:before {
  content: "\e013";
}
.icon-comments-o:before {
  content: "\e014";
}
.icon-compress:before {
  content: "\e015";
}
.icon-thumb-tack:before {
  content: "\e016";
}
.icon-calendar-o:before {
  content: "\e017";
}
.icon-trash:before {
  content: "\e018";
}
.icon-trash-o:before {
  content: "\e019";
}
.icon-info-circle:before {
  content: "\e01a";
}
.icon-thumbs-down:before {
  content: "\e01b";
}
.icon-thumbs-o-down:before {
  content: "\e01c";
}
.icon-download:before {
  content: "\e01d";
}
.icon-bell-1:before {
  content: "\e01e";
}
.icon-lock:before {
  content: "\e01f";
}
.icon-picture-o:before {
  content: "\e020";
}
.icon-github:before {
  content: "\e021";
}
.icon-stack-overflow:before {
  content: "\e022";
}
.icon-facebook:before {
  content: "\e023";
}
.icon-tag:before {
  content: "\e024";
}
.icon-tags:before {
  content: "\e025";
}
.icon-bookmark:before {
  content: "\e026";
}
.icon-bookmark-o:before {
  content: "\e027";
}
.icon-plus-circle:before {
  content: "\e028";
}
.icon-whatsapp:before {
  content: "\e029";
}
.icon-bars:before {
  content: "\6a";
}
.icon-html5:before {
  content: "\e02a";
}
.icon-sign-in:before {
  content: "\70";
}
.icon-login:before {
  content: "\e02b";
}
.icon-tachometer:before {
  content: "\e02c";
}
.icon-square-o:before {
  content: "\e02d";
}
.icon-building:before {
  content: "\e02e";
}
.icon-building-o:before {
  content: "\e02f";
}
.icon-hospital-o:before {
  content: "\e030";
}
.icon-exclamation-triangle:before {
  content: "\e008";
}
.icon-error:before {
  content: "\e031";
}
.icon-circle-o:before {
  content: "\e032";
}
.icon-circle:before {
  content: "\e033";
}